<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="parts/header :: hdr"></div>
</head>
<body>
    <div th:insert="parts/navbar :: nab"></div>

    <div class="container mt-5">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAddMessage" aria-expanded="false" aria-controls="collapseExample">
            Add Message
        </button>
        <div th:class="collapse+${textError != null ? ' show' : ''}" id="collapseAddMessage">
            <form th:action="@{/save-message}" method="post" enctype="multipart/form-data">
                <div class="form-group row col-sm-5">
                    <label for="text">Your Message:</label>
                    <input type="text" th:class="form-control+${textError != null ? ' is-invalid' : ''}" id="text" name="text">
                    <div th:if="${textError}" class="invalid-feedback">
                        <p th:if="${textError}" th:text="${textError}"></p>
                    </div>
                </div>
                <div class="form-group row col-sm-5">
                    <input type="file" name="file">
                </div>
                <input type="submit" value="Submit"/>
            </form>
        </div>
        <hr>
        <br>
        <div class="card-columns">
            <div th:each="msg : ${messages}" class="card" style="width: 18rem;">
                <img th:if="${msg.getFileName() != null}" th:src="@{'/image/'+${msg.getFileName()}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" th:text="${msg.getAuthor().getUsername()}"></h5>
                    <p class="card-text" th:text="${msg.getText()}"></p>
                    <a th:href="'/delete-message/'+${msg.getId()}" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="parts/footer :: foot"></div>
</body>
</html>