<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="parts/header :: hdr"></div>
</head>
<body>
<div th:insert="parts/navbar :: nab"></div>

<div class="container mt-5">
    <H2>Registration</H2>
    <br>
    <form th:action="@{/saveUser}" method="post">
        <div class="form-group row col-sm-5">
            <label for="username">Username:</label>
            <p th:if="${message != null}" style="color: red" th:text="${message}"></p>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group row col-sm-5">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group row col-sm-5">
            <label for="password">Password: </label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Sing Up</button>
    </form>
</div>

<div th:insert="parts/footer :: foot"></div>
</body>
</html>