<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="parts/header :: hdr"></div>
</head>
<body>
    <div th:insert="parts/navbar :: nab"></div>

    <div class="container mt-5">
        <table>
            <thead>
            <tr>
                <th>User</th>
                <th>Roles</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.getUsername()}">User</span></td>
                <td><span th:text="${user.getRoles()}">Roles</span></td>
                <td><a th:href="'users/edit/'+${user.getId()}">edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:insert="parts/footer :: foot"></div>
</body>
</html>