<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
    <h1>Users page</h1>
    <h3><a href="hello">Hello page</a></h3>
    <br>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.getUsername()}">User</span></td>
                <td><span th:text="${user.getRoles()}">Roles</span></td>
                <td><a th:href="'users/edit/'+${user.getId()}">edit</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>